<!--footer section start-->
<footer class="footer-section">
    <!--footer top start-->
    <div class="footer-top gradient-bg">
      <div class="container">
        <h5>Contact Me on</h5>
        <a href="https://github.com/Aribs01/" class="btn outline-white-btn mr-3 page-scroll"><span class="ti-github mr-2"></span>Github</a>
        <a href="https://www.linkedin.com/in/aribisala-abiola-8a557611b/" class="btn outline-white-btn mr-3 page-scroll"><span class="ti-linkedin mr-2"></span>LinkedIn</a>
        <a href="" class="btn outline-white-btn mr-3 page-scroll"><span class="ti-instagram mr-2"></span> Instagram</a>
        <a href="" class="btn outline-white-btn mr-3 page-scroll"><span class="ti-twitter mr-2"></span> Twitter</a>
        <a href="" class="btn outline-white-btn mr-3 page-scroll"><span class="ti-facebook mr-2"></span>Facebook</a>
        <br><br>
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-md-6 col-lg-5">
              <p class="copyright-text pb-0 mb-0">
                MADE WITH 
                <span class="ti-heart color-1" ></span> BY ARIBISALA ABIOLA</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--footer top end-->
  </footer>
  <!--footer section end-->

  <!--bottom to top button start-->
  <button class="scroll-top scroll-to-target" data-target="html">
    <span class="ti-angle-up"></span>
  </button>
  <!--bottom to top button end-->