<div class="main">

    <!-- Start Hero Section -->
    <section class="hero-equal-height ptb-100 gradient-overlay" style="background: url('images/hero-cover.jpg')no-repeat top center / cover">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9 col-lg-8">
            <div class="hero-content-left position-relative z-index text-center text-white">
              <h1 class="text-white">Survey PANDA</h1>
              <p class="lead">Quick and Efficient Way To Fill Surveys.</p>

              
            </div>
          </div>
        </div>
      </div>
      <div class="shape-bottom">
        <img [src]="'assets/dark-object.jpg'" alt="shape" class="bottom-shape img-fluid">
      </div>
    </section>
    <!-- End Hero Section-->

    <!--promo section new start-->
    <section class="promo-new ptb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-8">
            <div class="section-heading text-center mb-2">
              <h2>Quick and Efficient Way To Fill Surveys.</h2>
              <p class="lead">The Benefits of taking surveys cannot be overemphasized. Digitizing these surveys provids for a means to view and manipulate this data real time. Benefits of these includes:</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="new-single-promo rounded p-5 border-color-3 mt-4">
              <div class="promo-img-wrap mb-4">
                <span class="ti-smallcap icon-lg color-7"></span>
              </div>
              <div class="promo-content-wrap">
                <h5>Data Collection</h5>
                <p>Surveys allow researchers to collect a large amount of data in a relatively short period.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="new-single-promo rounded p-5 border-color-4 mt-4">
              <div class="promo-img-wrap mb-4">
                <span class="ti-id-badge icon-lg color-7"></span>
              </div>
              <div class="promo-content-wrap">
                <h5>Less expensive</h5>
                <p>Surveys are less expensive than many other data collection techniques.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="new-single-promo rounded p-5 border-color-3 mt-4">
              <div class="promo-img-wrap mb-4">
                <span class="ti-wand icon-lg color-7"></span>
              </div>
              <div class="promo-content-wrap">
                <h5>Easy to create and administer</h5>
                <p>Surveys can be created quickly and administered easily.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--promo section new end-->

    <!--feature section start-->
    <section id="features" class="feature-section ptb-100 gray-light-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-8">
            <div class="section-heading text-center mb-5">
              <h2>Steps to fill survey</h2>
              <p class="text-muted para-desc mb-0 mx-auto">Follow these quick steps to fill the survey.</p>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->

        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="features mb-sm-0 mb-md-5 mb-lg-5">
                  <span class="ti-time icon-sm p-3 color-2 color-5-bg mr-4 mt-1 rounded-circle float-left"></span>
                  <div class="d-block overflow-hidden">
                    <h5 class="mb-2">Got the Quiz page</h5>
                    <p>Simply got the Quiz page located at <a href="/quiz">This Link</a></p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="features mb-sm-0 mb-md-5 mb-lg-5">
                  <span class="ti-stats-up icon-sm p-3 color-2 color-5-bg mr-4 mt-1 rounded-circle float-left"></span>
                  <div class="d-block overflow-hidden">
                    <h5 class="mb-2">Select a survey topic to fill</h5>
                    <p>Select among the listed subject the one you will like to fill.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="features mb-sm-0 mb-md-5 mb-lg-5">
                  <span class="ti-flag-alt icon-sm p-3 color-2 color-5-bg mr-4 mt-1 rounded-circle float-left"></span>
                  <div class="d-block overflow-hidden">
                    <h5 class="mb-2">Fill the Survey</h5>
                    <p>Fill the survey truthfully and to the best of your knowledge and submit</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="features mb-sm-0 mb-md-5 mb-lg-5">
                  <span class="ti-agenda icon-sm p-3 color-2 color-5-bg mr-4 mt-1 rounded-circle float-left"></span>
                  <div class="d-block overflow-hidden">
                    <h5 class="mb-2">All Done</h5>
                  </div>
                </div>
              </div>

              
            </div>
          </div>

        </div>
      </div>
    </section>
    <!--feature section end-->

    

    <!--faq section start-->
    <div id="faq" class="gray-light-bg pt-100">
      <div class="container">
        <div class="row justify-content-around align-items-end">
          <div class="col-md-6 col-lg-6">
            <div class="faq-content-wrap pb-100">
              <div class="section-heading mb-5">
                <h2>Frequently Asked Questions?</h2>
              </div>
              <div id="accordion" class="accordion">
                <div class="card mb-0">
                  <a class="card-header collapsed px-4" data-toggle="collapse" href="#collapseOne">
                    <h6 class="mb-0 d-inline-block">What are these surveys used for?</h6>
                  </a>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p class="px-4">We know it may sound pretty weird to ask you questions about a particular subject. While your datas and contents are secured with a high level of encryption, you own 100% of you contents.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card mb-0">
                  <a class="card-header collapsed px-4" data-toggle="collapse" href="#collapseTwo">
                    <h6 class="mb-0 d-inline-block">Is it Anonymous?</h6>
                  </a>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p class="px-4">Your surveys are 100% Anonymous?.</p>
                    </div>
                  </div>
                </div>
                <div class="card mb-0">
                  <a class="card-header collapsed px-4" data-toggle="collapse" href="#collapseThree">
                    <h6 class="mb-0 d-inline-block">What if I dont know about the subject matter?</h6>
                  </a>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p class="px-4">Feel free to fill what you feel is the correct answer.</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="d-flex align-items-end">
              <!-- <img class="img-fluid" src="images/viral-faq.svg" alt="Viral FAQ"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--faq section end-->

  </div>
  <!--body content wrap end-->